<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,400;0,500;1,300&display=swap"
        rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <title>NWC SRMIST</title>
    <link rel="stylesheet" href="../Styles/media-queries.css" />
    <link rel="stylesheet" href="../Styles/feed.css" />
</head>

<body>

    <!-- Navbar -->
    <header class="sticky">
        <div class="logo-container">
            <a class="logo-holder" style="width: 15rem" href="../index.html"><img src="../Images/NWC.png" alt="Logo" /></a>
            <div class="logo-text">
                <p>NWC Association</p>
                <p>SRMIST</p>
            </div>
        </div>
        <nav class="default-nav">
            <ul>
                <li><a href="../index.html">Home</a></li>
                <li><a href="#">Events</a></li>
                <li><a href="TeamPage.html">Our Team</a></li>
                <li class="active"><a href="#">Feed</a></li>
                <li><a href="#">Contact Us</a></li>
            </ul>
        </nav>
        <div class="mobile-nav-btn">
            <div class="symbol-container"><span></span></div>
        </div>
        <div class="side-nav">
            <ul>
                <li><a href="../index.html">Home</a></li>
                <li><a href="#">Events</a></li>
                <li><a href="TeamPage.html">Our Team</a></li>
                <li class="active"><a href="#">Feed</a></li>
                <li><a href="#">Contact Us</a></li>
            </ul>
        </div>
    </header>

    <!-- Feed Section -->
    <div class="container-fluid">
        <div class="row row-content-temp">
            <div class="col-12 col-sm-6 col-lg-4">
                <div class="card text-center shadow-1">
                    <div class="img-overlay">
                        <img class="card-img-top img-fluid feed-img" src="../Images/FeedPage/1.jpg" alt="feed">
                        <div class="overlay">
                            <div class="text">
                                <a href="https://www.instagram.com/nwcsrmist/">
                                    <img src="../Images/redo.png" class="redo" width="50%" alt="view">
                                    <h1 class="view"> View on Instagram </h1>
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="card-body">
                    </div>
                </div>
            </div>

            <div class="col-12 col-sm-6 col-lg-4">
                <div class="card shadow-1">
                    <div class="img-overlay">
                        <img class="card-img-top img-fluid feed-img" src="../Images/FeedPage/2.jpg" alt="feed">
                        <div class="overlay">
                            <div class="text">
                                <a href="https://www.instagram.com/nwcsrmist/">
                                    <img src="../Images/redo.png" class="redo" width="50%" alt="view">
                                    <h2 class="view"> View on Instagram </h2>
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="card-body">
                    </div>
                </div>
            </div>

            <div class="col-12 col-sm-6 col-lg-4">
                <div class="card shadow-1">
                    <div class="img-overlay">
                        <img class="card-img-top img-fluid feed-img" src="../Images/FeedPage/3.jpg" alt="feed">
                        <div class="overlay">
                            <div class="text">
                                <a href="https://www.instagram.com/nwcsrmist/">
                                    <img src="../Images/redo.png" class="redo" alt="view">
                                    <h2 class="view"> View on Instagram </h2>
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="card-body">
                    </div>
                </div>
            </div>



            <div class="col-12 col-sm-6 col-lg-4">
                <div class="card text-center shadow-1">
                    <div class="img-overlay">
                        <img class="card-img-top img-fluid feed-img" src="../Images/FeedPage/4.jpg" alt="feed">
                        <div class="overlay">
                            <div class="text">
                                <a href="https://www.instagram.com/nwcsrmist/">
                                    <img src="../Images/redo.png" class="redo" alt="view">
                                    <h2 class="view"> View on Instagram </h2>
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="card-body">
                    </div>
                </div>
            </div>

            <div class="col-12 col-sm-6 col-lg-4">
                <div class="card shadow-1">
                    <div class="img-overlay">
                        <img class="card-img-top img-fluid feed-img" src="../Images/FeedPage/5.jpeg" alt="feed">
                        <div class="overlay">
                            <div class="text">
                                <a href="https://www.instagram.com/nwcsrmist/">
                                    <img src="../Images/redo.png" class="redo" alt="view">
                                    <h2 class="view"> View on Instagram </h2>
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="card-body">
                    </div>
                </div>
            </div>

            <div class="col-12 col-sm-6 col-lg-4">
                <div class="card shadow-1">
                    <div class="img-overlay">
                        <img class="card-img-top img-fluid feed-img" src="../Images/FeedPage/6.jpeg" alt="feed">
                        <div class="overlay">
                            <div class="text">
                                <a href="https://www.instagram.com/nwcsrmist/">
                                    <img src="../Images/redo.png" class="redo" alt="view">
                                    <h2 class="view"> View on Instagram </h2>
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="card-body">
                    </div>
                </div>
            </div>
        </div>


        <div class="row align-items-center intermed">
            <div class="d-none d-sm-inline col-12 col-md-6 text-center" id="visit">
                <h1>Stay Connected!</h1>
                <a href="https://www.instagram.com/dsc_nsut/tagged/" role="button" type="button"
                    class="btn btn-lg btn-outline-info visit-btn">Visit</a>
            </div>
            <div class="col-12 d-sm-none col-md-6 text-center" id="visit2">
                <h1>Stay Connected!</h1>
                <a href="https://www.instagram.com/nwcsrmist/" role="button" type="button"
                    class="btn btn-lg btn-outline-info visit-btn">Visit</a>
            </div>
            <div class="col-12 offset-md-1 col-md-5 order-first">
                <img src="../Images/undraw_buffer_wq43.svg" alt="social-media" width="90%">
            </div>
        </div>

        <div class="row row-content reveal">
            <div class="col-12 col-sm-6 col-lg-4">
                <div class="card shadow-1">
                    <div class="img-overlay">
                        <img class="card-img-top img-fluid feed-img" src="../Images/FeedPage/7.jpeg" alt="feed">
                        <div class="overlay">
                            <div class="text">
                                <a href="https://www.instagram.com/nwcsrmist/">
                                    <img src="../Images/redo.png" class="redo" alt="view">
                                    <h2 class="view"> View on Instagram </h2>
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="card-body">
                    </div>
                </div>
            </div>

            <div class="col-12 col-sm-6 col-lg-4">
                <div class="card shadow-1">
                    <div class="img-overlay">
                        <img class="card-img-top img-fluid feed-img" src="../Images/FeedPage/8.jpeg" alt="feed">
                        <div class="overlay">
                            <div class="text">
                                <a href="https://www.instagram.com/nwcsrmist/">
                                    <img src="../Images/redo.png" class="redo" alt="view">
                                    <h2 class="view"> View on Instagram </h2>
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="card-body">
                    </div>
                </div>
            </div>

            <div class="col-12 col-sm-6 col-lg-4">
                <div class="card shadow-1">
                    <div class="img-overlay">
                        <img class="card-img-top img-fluid feed-img" src="../Images/FeedPage/9.jpeg" alt="feed">
                        <div class="overlay">
                            <div class="text">
                                <a href="https://www.instagram.com/nwcsrmist/">
                                    <img src="../Images/redo.png" class="redo" alt="view">
                                    <h2 class="view"> View on Instagram </h2>
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="card-body">
                    </div>
                </div>
            </div>

        </div>
        </div>



    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <nav aria-label="...">
                    <ul class="pagination pagination-lg justify-content-center">
                        <li class="page-item disabled">
                            <a class="page-link" href="#" tabindex="-1">Previous</a>
                        </li>
                        <li class="page-item active">
                            <a class="page-link" href="#">1 <span class="sr-only">(current) </span></a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="#">2 </a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="#">3</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="#">4</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="#">5</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="#">Next</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>


    <!-- Footer -->
    <footer>
        <div class="container-fluid footer">
            <div class="row">
                <div class="col-12 d-flex justify-content-center">
                    <div class="social-links mt-4">
                        <a href="#" class="github">
                            <i class="bx bxl-github">
                            </i>
                        </a>
                        <a href="https://mobile.twitter.com/nwcsrmist" class="twitter">
                            <i class="bx bxl-twitter">
                            </i>
                        </a>
                        <a href="https://instagram.com/nwcsrmist" class="instagram">
                            <i class="bx bxl-instagram">
                            </i>
                        </a>
                        <a href="#" class="facebook">
                            <i class="bx bxl-facebook">
                            </i>
                        </a>
                        <a href="https://www.linkedin.com/company/nwcsrmist/" class="linkedin">
                            <i class="bx bxl-linkedin">
                            </i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 d-flex justify-content-center align-items-center">
                    <div class="copyright">
                        <img src="../Images/NWC.png" id="img-copyright" alt="Logo" /> Copyright <i
                            class='bx bx-copyright'></i>
                        2022.
                        All rights reserved!
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!-- Script Files to be included:-->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <script src="../Scripts/animation-script.js"></script>
    <script src="../Scripts/scroll-animation.js"></script>
    <script src="https://unpkg.com/boxicons@latest/dist/boxicons.js"></script>
</body>

</html>