<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../Styles/style.css">
    <link rel="stylesheet" href="../Styles/TeamPage.css">
    <link rel="stylesheet" href="../Styles/media-queries.css">
    <link
      href="https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,400;0,500;1,300&display=swap"
      rel="stylesheet"
    />
    <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
    crossorigin="anonymous"
  />
  <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
  <link rel="icon" href="../Images/NWC.png">
    <title>Team Page</title>
</head>

<body >
  <header class="">
    <div class="logo-container">
      <a class="logo-holder" href="./index.html"
        ><img src="../Images/NWC.png" alt="Logo"
      /></a>
      <div class="logo-text">
        <p>NWC Association</p>
        <p>SRMIST KTR</p>
      </div>
    </div>
    <nav class="default-nav">
      <ul>
        <li><a href="../index.html">Home</a></li>
        <li><a href="#">Events</a></li>
        <li class="active"><a href="#">Our Team</a></li>
        <li ><a href="FeedPage.html">Feed</a></li>
        <li><a href="#">Contact Us</a></li>
      </ul>
    </nav>
    <div class="mobile-nav-btn">
      <div class="symbol-container"><span></span></div>
    </div>
    <div class="side-nav">
      <ul>
        <li><a href="../index.html">Home</a></li>
        <li><a href="#">Events</a></li>
        <li class="active"><a href="#">Our Team</a></li>
        <li ><a href="FeedPage.html">Feed</a></li>
        <li><a href="#">Contact Us</a></li>
      </ul>
    </div>
  </header>
 

<div id="particles-js"></div>

<section class="Page-head"> 
  
      <h2>MEET THE SQUAD</h2>
  
</section>


   <div class="teams">

                                    <!-- Faculty Head -->
       <section class="team-container">
           <h1>Faculty Heads</h1>
           <div class="mentor-box">
               <div class="member-box">
                   <img src="../Images/team-images/Dr.P.Supraja.jpg">
                   <div class="member-info">
                       <p class="member-name">Dr.P.Supraja.jpg</p>
                       <p class="member-desig">Events & Logistics Head</p>
                       <div class="member-socials">
                           <a href="#"><i class="fab fa-linkedin"></i></a>
                           <a href="#"><i class="fab fa-facebook-square"></i></a>
                           <a href="#"><i class="fab fa-instagram"></i></a>
                       </div>
                   </div>
               </div>

               <div class="member-box">
                   <img src="../Images/team-images/safa.jpg">
                   <div class="member-info">
                       <p class="member-name">Ms. M. Safa</p>
                       <p class="member-desig">President</p>
                       <div class="member-socials">
                           <a href="#"><i class="fab fa-linkedin"></i></a>
                           <a href="#"><i class="fab fa-facebook-square"></i></a>
                           <a href="#"><i class="fab fa-instagram"></i></a>
                       </div>
                   </div>
               </div>

               <div class="member-box">
                   <img src="../Images/team-images/unknown.png">
                   <div class="member-info">
                       <p class="member-name">Dr. T. Sam Pradeep</p>
                       <p class="member-desig">Finance & Support Team Head</p>
                       <div class="member-socials">
                           <a href="#"><i class="fab fa-linkedin"></i></a>
                           <a href="#"><i class="fab fa-facebook-square"></i></a>
                           <a href="#"><i class="fab fa-instagram"></i></a>
                       </div>
                   </div>
               </div>
           </div>
        </section>
           
   

                                    <!-- Board Members -->


    <section class="team-container">
        <h1>Board Members</h1>
        <div class="mentor-box">
            <div class="member-box">
                <img src="../Images/team-images/shreya.jpg">
                <div class="member-info">
                    <p class="member-name">Shreya Saha Roy</p>
                    <p class="member-desig">Joint Secretary</p>
                    <div class="member-socials">
                        <a href="#"><i class="fab fa-linkedin"></i></a>
                        <a href="#"><i class="fab fa-facebook-square"></i></a>
                        <a href="#"><i class="fab fa-instagram"></i></a>
                    </div>
                </div>
            </div>

            <div class="member-box">
                <img src="../Images/team-images/yashvardhan.jpg">
                <div class="member-info">
                    <p class="member-name">Yashvardhan Jagnani</p>
                    <p class="member-desig">Vice President</p>
                    <div class="member-socials">
                        <a href="#"><i class="fab fa-linkedin"></i></a>
                        <a href="#"><i class="fab fa-facebook-square"></i></a>
                        <a href="#"><i class="fab fa-instagram"></i></a>
                    </div>
                </div>
            </div>

            <div class="member-box">
                <img src="../Images/team-images/amrit.jpg">
                <div class="member-info">
                    <p class="member-name">Amrit Anand</p>
                    <p class="member-desig">Joint Secretary</p>
                    <div class="member-socials">
                        <a href="#"><i class="fab fa-linkedin"></i></a>
                        <a href="#"><i class="fab fa-facebook-square"></i></a>
                        <a href="#"><i class="fab fa-instagram"></i></a>
                    </div>
                </div>
            </div>

        </div>
    </section>

                                    <!-- Domain Heads -->
    <section class="team-container">
        <h1>Domain Heads</h1>
        <div class="mentor-box">
            <div class="member-box">
                <img src="../Images/team-images/sayak.jpg">
                <div class="member-info">
                    <p class="member-name">Sayak Bose</p>
                    <p class="member-desig">Events Head</p>
                    <div class="member-socials">
                        <a href="#"><i class="fab fa-linkedin"></i></a>
                        <a href="#"><i class="fab fa-facebook-square"></i></a>
                        <a href="#"><i class="fab fa-instagram"></i></a>
                    </div>
                </div>
            </div>

            <div class="member-box">
                <img src="../Images/team-images/unknown.png">
                <div class="member-info">
                    <p class="member-name">Sneha Sunil Nair</p>
                    <p class="member-desig">Creatives Head</p>
                    <div class="member-socials">
                        <a href="#"><i class="fab fa-linkedin"></i></a>
                        <a href="#"><i class="fab fa-facebook-square"></i></a>
                        <a href="#"><i class="fab fa-instagram"></i></a>
                    </div>
                </div>
            </div>

            <div class="member-box">
                <img src="../Images/team-images/gita.jpg">
                <div class="member-info">
                    <p class="member-name">Gita Alekhya Paul</p>
                    <p class="member-desig">Technical Head</p>
                    <div class="member-socials">
                        <a href="#"><i class="fab fa-linkedin"></i></a>
                        <a href="#"><i class="fab fa-facebook-square"></i></a>
                        <a href="#"><i class="fab fa-instagram"></i></a>
                    </div>
                </div>
            </div>

            <div class="member-box">
                <img src="../Images/team-images/aravind.jpg">
                <div class="member-info">
                    <p class="member-name">Aravind G</p>
                    <p class="member-desig">Finance Head</p>
                    <div class="member-socials">
                        <a href="#"><i class="fab fa-linkedin"></i></a>
                        <a href="#"><i class="fab fa-facebook-square"></i></a>
                        <a href="#"><i class="fab fa-instagram"></i></a>
                    </div>
                </div>
            </div>

            <div class="member-box">
                <img src="../Images/team-images/sakshil.jpg">
                <div class="member-info">
                    <p class="member-name">Sakshil Verma</p>
                    <p class="member-desig">Sponsorship Head</p>
                    <div class="member-socials">
                        <a href="#"><i class="fab fa-linkedin"></i></a>
                        <a href="#"><i class="fab fa-facebook-square"></i></a>
                        <a href="#"><i class="fab fa-instagram"></i></a>
                    </div>
                </div>
            </div>


        </div>
    </section>
</div>

<footer>
  <h4>Follow Us</h4>
  <div class="socials">
    <a href="#"><i class="fab fa-linkedin"></i></a>
    <a href="#"><i class="fab fa-facebook-square"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
  </div>
  <div class="copyright-text">
    &copy; 2022 NWC SRMIST. All rights reserved.
  </div>
  </footer>


<script src="../Scripts/animation-script.js"></script>
<script src="../Scripts/TeamPage.js" ></script>
<script src="../Scripts/particles2.js" ></script>
<script src="../Scripts/app.js" ></script>
</body>
</html>